@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <my-counter></my-counter>
</div>

@section scripts {
    <script type="module">
        import { LitElement, html } from "lit";
        class MyCounter extends LitElement {
            static properties = { value: { state: true } };
            constructor() {
                super();
                this.value = 0;
            }
            render() {
                return html`
                <section>
                    <button @@click=${() => this.value += 1}>Increment</button>
                    <button @@click=${() => this.value -= 1}>Decrement</button>
                    <p>Value: ${this.value}</p>
                </section>
                `;
            }
        }
        customElements.define("my-counter", MyCounter);
    </script>
}